/* 
COLORES TRANS-LAB:
tipografía y dividers: #acacae;
botones:  #3b4674;
amarillo: #f6a800;
gris oscuro: #3e3f41;

 */

* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #3e3f41;
    color: #acacae;
}

#logo {
    height: 150px;
    margin-top: 100px;
}

.title p {
    color: #f6a800;
    font-weight: bolder;
    font-size: 28px;
}

.blanco {
    height: 175px;
    width: 80%;
    background-color: #ffffff;
    padding: 30px;
}

.btn-ini {
    margin-top: -10px;
    width: 100%;
    background-color: #f6a800;
    color: #3b4674;
}

#contrasena {
    margin-top: -20px;
}


/* estilos inputs */

input:not([type]),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default) {
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: none;
    height: 2rem;
    width: 80%;
    font-size: 1rem;
    margin: 0 0 0 0;
    padding: 0;
    box-shadow: none;
    transition: all 0.3s;
}


/*---fin index1---*/